<footer class="c-footer">
	<div class="o-wrapper o-layout">
		<ul class="o-layout__left@footer_float o-layout o-list-naked o-grid c-footer__list">
			<li class="o-layout__left o-grid__item"><a class="c-footer__link" href="https://www.twitter.com/computerlovers/">Twitter</a></li>
			<li class="o-layout__left o-grid__item"><a class="c-footer__link" href="https://www.facebook.com/CodeComputerlove">Facebook</a></li>
			<li class="o-layout__left o-grid__item"><a class="c-footer__link" href="https://www.github.com/code-computerlove/">Github</a></li>
			<li class="o-layout__left o-grid__item"><a class="c-footer__link" href="http://www.codecomputerlove.com/jobs/">Careers</a></li>
		</ul>
		<div class="o-layout__right@footer_float c-footer__copyright"> <time datetime="{{date format="YYYY"}}" class="c-footer__date"> &copy; {{date format="YYYY"}}</time> <a class="c-footer__link" href="http://www.codecomputerlove.com">Code Computerlove Ltd</a></div>
	</div>
</footer>
