<nav class="c-pagination o-layout">
	{{!if prev}}
        <div class="o-layout__left u-1/3"><a href="{{page_url prev}}">Newer Posts</a></div>
    {{!if}}
    <div class="o-layout__left u-center u-1/3"> Page {{page}} of {{pages}} </div>
    {{!if next}}
        <div class="o-layout__left u-right u-1/3"><a href="{{page_url next}}">Older Posts</a></div>
    {{!if}}
</nav>
