{{!< default-styleguide}}
<div class="o-wrapper">
	<h1>Styleguide</h1>
	<p>Intro about styleguides Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

	<h2>Colours</h2>
	<div class="o-grid">
		<ul class="o-list-naked o-layout">
			<li class="o-layout__left o-grid__item o-grid__item--stacked u-1/1 u-1/2@sm u-1/3@md u-1/4@lg c-styleguide__color c-styleguide__color--black">black</li>
			<li class="o-layout__left o-grid__item o-grid__item--stacked u-1/1 u-1/2@sm u-1/3@md u-1/4@lg c-styleguide__color c-styleguide__color--code-aubergine">code-aubergine</li>
			<li class="o-layout__left o-grid__item o-grid__item--stacked u-1/1 u-1/2@sm u-1/3@md u-1/4@lg c-styleguide__color c-styleguide__color--code-blue">code-blue</li>
			<li class="o-layout__left o-grid__item o-grid__item--stacked u-1/1 u-1/2@sm u-1/3@md u-1/4@lg c-styleguide__color c-styleguide__color--code-grey">code-grey</li>
			<li class="o-layout__left o-grid__item o-grid__item--stacked u-1/1 u-1/2@sm u-1/3@md u-1/4@lg c-styleguide__color c-styleguide__color--code-mint">code-mint</li>
			<li class="o-layout__left o-grid__item o-grid__item--stacked u-1/1 u-1/2@sm u-1/3@md u-1/4@lg c-styleguide__color c-styleguide__color--code-mustard">code-mustard</li>
			<li class="o-layout__left o-grid__item o-grid__item--stacked u-1/1 u-1/2@sm u-1/3@md u-1/4@lg c-styleguide__color c-styleguide__color--code-red">code-red</li>
			<li class="o-layout__left o-grid__item o-grid__item--stacked u-1/1 u-1/2@sm u-1/3@md u-1/4@lg c-styleguide__color c-styleguide__color--white">white</li>
		</ul>
	</div>

	<h2>Fonts</h2>
	<p>The fonts used do not match those specified in the brand guidelines, but are similar and add no extra weight to the page. </p>

	<h3>Default</h3>
	<p>Sans-serif</p>

	<h3>Headings</h3>
	<p>Georgia</p>

	<h2>Heading sizes</h2>

	<h1 class="c-styleguide__heading c-styleguide__heading--h1">H1</h1>
	<h2 class="c-styleguide__heading c-styleguide__heading--h2">H2</h1>
	<h3 class="c-styleguide__heading c-styleguide__heading--h3">H3</h1>
	<h4 class="c-styleguide__heading c-styleguide__heading--h4">H4</h4>
	<h5 class="c-styleguide__heading c-styleguide__heading--h5">H4</h5>
	<h6 class="c-styleguide__heading c-styleguide__heading--h6">H5</h6>

	<h2>Paragraph</h2>
	<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

	<h2>Blockquote</h2>
	<blockquote>
		<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
	</blockquote>

	<h2>Inline elements</h2>
	<p><a href="#">This is a text link</a></p>
	<p><strong>Strong is used to indicate strong importance</strong></p>
	<p><em>This text has added emphasis</em></p>
	<p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
	<p>The <i>i element</i> is text that is set off from the normal text</p>
	<p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
	<p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
	<p><s>This text has a strikethrough</s></p>
	<p>Superscript<sup>&circledR;</sup></p>
	<p>Subscript for things like H<sub>2</sub>O</p>
	<p><small>This small text is small for for fine print, etc.</small></p>
	<p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
	<p>Keybord input: <kbd>Cmd</kbd></p>
	<p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
	<p><cite>This is a citation</cite>
	</p><p>The <dfn>dfn element</dfn> indicates a definition.</p>
	<p>The <mark>mark element</mark> indicates a highlight</p>
	<p><code>This is what inline code looks like.</code></p>
	<p><samp>This is sample output from a computer program</samp></p>
	<p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>

	<h2>Time</h2>
	<time datetime="2013-04-06T12:32+00:00">2 weeks ago</time>

	<h2>Preformatted text</h2>
	<pre class="sg-code-html">
		<code>PROGRAM HELLOWORLD
	 10 FORMAT (1X,11HHELLO WORLD)
	 WRITE(6,10)
	 END</code>
	</pre>

	<h2>Horizontal rule</h2>
	<hr>

	<h2>Unordered list</h2>
	<ul>
		<li>This is a list item in an unordered list</li>
		<li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
		<li>
			Lists can be nested inside of each other
			<ul>
				<li>This is a nested list item</li>
				<li>This is another nested list item in an unordered list</li>
			</ul>
		</li>
		<li>This is the last list item</li>
	</ul>

	<h2>Ordered list</h2>
	<ol>
		<li>This is a list item in an ordered list</li>
		<li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
		<li>
			Lists can be nested inside of each other
			<ol>
				<li>This is a nested list item</li>
				<li>This is another nested list item in an ordered list</li>
			</ol>
		</li>
		<li>This is the last list item</li>
	</ol>
</div>
