.c-meta {
	color: get-color(meta-text, lighten, 10%);
	font-family: $f-family;
	font-size: rem(13px);
	font-weight: get-weight(normal);
	text-transform: uppercase;

	a {
		border-bottom: 1px solid get-color(primary);

		&:hover {
			border-color: get-color(link-hover);
		}
	}
}
