.c-header {
	@include clearfix;
	background-color: get-color(header-bg);
	min-height: rem(150px);

	@include respond-min(md) {
		min-height: rem(225px);
	}
}

	.c-header__cl {
		border-right: rem(2px) solid get-color(header-text);
		margin-right: rem($d-gutter);
		padding-right: rem($d-gutter);
	}

	.c-header__link {
		display: block;
		margin: rem($d-gutter) 0;
	}

	.c-header__logo {
		height: rem($d-cl-logo-height);
		margin-top: 3px;
	}

	.c-header__title {
		margin: 2rem;
		text-align: center;
	}
