$color-nav-bg: get-color(nav-bg);

.c-nav {
	margin-left: -#{rem($d-gutter)};
	margin-right: -#{rem($d-gutter)};
}

	.c-nav__btn {
		display: none;

		.has-js & {
			background-color: get-color(header-bg);
			border: 0;
			box-sizing: content-box;
			cursor: pointer;
			display: block;
			height: rem($d-cl-logo-height);
			padding: rem($d-gutter);
			position: absolute;
			right: 0;
			top: 0;
			transition: all 0.25s;
			width: rem($d-gutter * 1.5);

			&:hover {
				background-color: $color-nav-bg;
				fill: get-color(nav-hover);
			}

			&:focus,
			&.is-active {
				background-color: $color-nav-bg;
				box-shadow: inset 0 -1px 0 0 get-color(nav-bg);
				fill: get-color(nav-hover);
				outline: none;
			}
		}
	}

	.c-nav__item {
		border-bottom: 1px solid get-color(nav-bg, lighten, 20%);
		float: none;

		@include respond-min(post_float) {
			border: 0;
			border-right: 1px solid get-color(nav-bg, lighten, 20%);
			float: left;
		}

		.has-js  & + & {
			border-bottom: get-color(nav-bg, lighten, 20%);
			border-top: rem(1px) solid get-color(nav-bg);
		}

		.no-js & {
			border-bottom: get-color(nav-bg, lighten, 20%);
			float: left;
			width: 100%;

			@include respond-min(sm) {
				width: auto;
			}
		}
	}

	.c-nav__link {
		background-color: $color-nav-bg;
		color: get-color(nav-hover);
		display: block;
		line-height: 1.6;
		padding: rem($d-gutter);
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color 0.25s;

		&:focus,
		&:hover {
			background-color: get-color(nav-active);
			color: get-color(nav-hover);
			outline: 0;
		}
	}

	.c-nav__list {
		background-color: $color-nav-bg;
		text-align: center;
		transition: all 1s ease;
		width: 100%;

		@include respond-min(post_float) {
			width: auto;
		}

		.has-js & {
			opacity: 0;
			position: absolute;
			top: -1000%;
			transition: opacity 0.25s;
		}
	}

	.has-js .c-nav__btn:focus + .c-nav__list,
	.has-js .c-nav__list.is-active {
		opacity: 1;
		position: relative;
		top: 0;

		@include respond-min(sm) {
			left: auto;
			position: absolute;
			right: 0;
			top: rem($d-cl-logo-height + ($d-gutter * 2));
			z-index: 1;
		};
	}
