.c-post {
	margin-bottom: rem(get-rem-size(sm) * 2);
}

	.c-post__image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 175px;

		@include respond-min(lg) {
			height: 350px;
		}
	}

	.c-post__title {
		margin-top: rem(get-rem-size(sm));

		@include respond-min(post_float) {
			margin-top: 0;
		}
	}

	.c-post__content {
		background: get-color(content-bg);
		padding: rem(15px);
	}
