.c-header {
	@include clearfix;
	background-color: get-color(header-bg);
}

	.c-header__cl {
		height: rem($d-cl-logo-height);
		padding-right: rem($d-gutter);
	}

	.c-header__link {
		display: block;
		margin: rem($d-gutter) 0;
		width: rem($d-cl-logo-width + $d-cl-text-width + ($d-gutter * 2) + 2px);
	}

	.c-header__path {
		fill: get-color(header-text);
	}

	.c-header__title {
		border-left: rem(2px) solid get-color(header-text);
		height: rem($d-cl-logo-height);
		padding-left: rem($d-gutter);
	}
