.c-meta {
	color: get-color(meta-text, lighten, 50%);
}

	.c-meta__link {
		border-bottom: 1px solid get-color(link-border, lighten, 75%);
		color: get-color(meta-text, lighten, 50%);
		text-decoration: none;
		transition: border-bottom-color 0.25s;

		&:hover {
			border-bottom-color: get-color(link-hover);
		}
	}
