.c-banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: rem(480px);
}

	.c-banner__image {
		padding-top: 4 / 5 * 100%;

		@include respond-min(sm) {
			padding-top: 9 / 16 * 100%;
		}

		@include respond-min(lg) {
			height: rem(480px);
			padding-top: 0;
		}
	}

	.c-banner__post {
		margin-top: rem(-78px);
		max-height: rem(480px);

		@include respond-min(md) {
			margin-top: rem(-153px);
		}
	}
