.c-post {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: rem(get-rem-size(sm) * 2);
	margin-left: rem($d-gutter);
	position: relative;

	@include respond-min(post_float) {
		margin-left: 0;
	}
}

	.c-post__image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 0;
		margin: rem(-15px) rem(-15px) rem(20px) rem(-15px);
		padding-top: 50%;
		width: calc(100% + 30px);

		@include respond-min(post_float) {
			width: calc(100% + 50px);
			margin: rem(-25px) rem(-25px) rem(20px) rem(-25px);
		}
	}

	.c-post__title {
		margin-top: rem(get-rem-size(sm));

		@include respond-min(post_float) {
			margin-top: 0;
		}
	}

	.c-post__content {
		background: get-color(content-bg);
		padding: rem(15px);

		@include respond-min(post_float) {
			padding: rem(25px);
		}
	}

	.c-post__link {
		border-bottom: 2px solid get-color(primary);
		display: inline-block;
		font-family: $f-family;
		font-size: rem(13px);
		font-weight: get-weight(normal);
		margin-top: rem(get-rem-size(sm));
		padding-bottom: 1px;
		text-transform: uppercase;
	}
