.c-author {
	border-bottom: rem(1px) solid get-color(author-border, lighten, 75%);
	border-top: rem(1px) solid get-color(author-border, lighten, 65%);
	margin: rem($d-gutter * 2) 0;
	padding: rem($d-gutter * 2) 0;
}

.c-author--brief {
	font-family: $f-family;
	font-size: rem(11px);
	font-weight: get-weight(normal);
	text-transform: uppercase;

	a {
		border-bottom: 1px solid get-color(primary);

		&:hover {
			border-color: get-color(link-hover);
		}
	}
}

	.c-author__bio {
		margin: 0;
	}

	.c-author__img {
		border-radius: 100%;
		display: block;
		overflow: hidden;
	}

	.c-author__img--thumb {
		display: inline-block;
		margin-right: rem(5px);
		vertical-align: middle;
		width: rem(get-rem-size(sm) * 1.25);
	}

	.c-author__link {
		border-bottom: 1px solid get-color(link-border, lighten, 75%);
		color: get-color(body-text);
		margin: 0;
		text-decoration: none;
		transition: border-bottom-color 0.25s;

		&:hover {
			border-bottom-color: get-color(link-hover);
		}
	}

	.c-author__name {
		margin: 0;
	}

	.c-author__photo {
		margin: 0;
	}

	.c-author__tags {
		text-transform: capitalize;
	}
