.c-post {
	margin-bottom: rem(get-rem-size(sm)*2);
	margin-top: rem(get-rem-size(sm)*2);
}

	.c-post__image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 3/4*100%;

		@include respond-min(sm) {
			padding-top: 9/16*100%;
		}

		@include respond-min(post_float) {
			padding-top: 7/8*100%;
		}
	}

	.c-post__title {
		margin-top: rem(get-rem-size(sm));

		@include respond-min(post_float) {
			margin-top: 0;
		}
	}
