body {
	background-color: get-color(body-bg);
	color: get-color(body-text);
	font-family: $f-family;
	font-weight: get-weight(normal);
	height: 100%;
	line-height: 1.5;
	margin: 0;
}

html {
	font-size: 16px;
	height: 100%;
}
