a:not([class]) {
	border-bottom: 1px solid get-color(link-border, lighten, 75%);
	color: get-color(primary);
	text-decoration: none;
	transition: border-bottom-color 0.25s;

	&:hover {
		border-bottom-color: get-color(link-hover-border);
	}
}
