body {
	color: get-color(body-text);
	font-family: $f-family;
	font-weight: get-weight(normal);
	height: 100%;
	line-height: 1.5;
	margin: 0;
}

html {
	font-size: get-rem-size(sm);
	height: 100%;

	@include respond-min(md) {
		font-size: get-rem-size(md);
	}

	@include respond-min(lg) {
		font-size: get-rem-size(lg);
	}

	@include respond-min(xl) {
		font-size: get-rem-size(xl);
	}
}
