h1,
h2,
h3,
h4,
h5,
h6 {
	color: get-color(heading-text);
	font-family: $f-family-heading;
	font-weight: get-weight(bold);
	margin: rem($d-gutter*2) 0 rem($d-gutter) 0;
}

@each $level, $size in $f-scale {
	$base: get-rem-size(sm);

	#{$level} {
		font-size: rem($base*$size);
	}
}
