.o-wrapper {
	margin: 0 auto;
	max-width: rem(1200px);
	padding: 0 rem($d-gutter);
	position: relative;
}

	.o-wrapper__post {
		background-color: get-color(body-bg);
		box-sizing: border-box;
		max-width: rem($d-width-max);
		padding: 1px 1rem;

		@include respond-min($d-width-max + 1px) {
			margin-top: rem(-72px);
			padding: 1px rem(30px);
		}
	}

	.o-wrapper__tag {
		background-color: get-color(body-bg);
		margin-top: rem(-72px);
		padding: 1px rem(30px);
	}
