$colors: (
	black: #333,
	code-aubergine: #362634,
	code-blue: #1f2040,
	code-grey: #6b707d,
	code-mint: #b5efba,
	code-mustard: #fec260,
	code-red: #ec4f51,
	white: #fff
);

$color-uses: (
	primary: code-blue,
	primary-alt: code-red,
);
