$f-family: sans-serif;
$f-family-heading: Georgia, Times, Times New Roman, serif;

$f-weights: (
	bold: 600,
	normal: 300
);

$f-scale: (
	h1: 2.441,
	h2: 1.953,
	h3: 1.563,
	h4: 1.25,
	h5: 1,
	h6: 1
);
