$f-family: 'Source Sans Pro', sans-serif;
$f-family-heading: 'Libre Baskerville', serif;

$f-weights: (
	bolder: 900,
	bold: 700,
	normal: 400
);

$f-scale: (
	h1: 2.441,
	h2: 1.8,
	h3: 1.563,
	h4: 1.25,
	h5: 1,
	h6: 1
);
